@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Euclid Circular B', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: 'Euclid Circular B', sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Euclid Circular B', sans-serif !important;
}
